<html>
    <head>
        <title>Engineering</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
        <style>
          .center {
            margin: auto;
            width: 60%;
            
            padding: 10px;
          }
          </style>
    
    
      </head>


    
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="https://jobportal-qusn.onrender.com/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Engineering</li>
        </ol>
      </nav>


    <body>
        <div class="alert alert-warning" role="alert">
            
            Engineering jobs are all about applying scientific principles to solve problems and create things. Engineers use their knowledge of math, physics, and other sciences to design, develop, build, and test a wide variety of things, from tiny circuits to massive bridges.
            <br><br>
            <ul>
            <li><b><u>Design: </b></u> This involves coming up with ideas for new products, systems, or processes. Engineers will consider things like functionality, safety, and cost during this stage.</li>
            <li><b><u>Devlop:</b></u> Once a design is finalized, engineers turn it into a reality. This may involve creating prototypes, writing technical instructions, or overseeing construction.</li>
            <li><b><u>Build: </b></u>Many engineers are involved in the physical creation of things. This could involve working on assembly lines, managing construction projects, or installing equipment.</li></ul>
            <ul>
                There are many different types of engineering
                <br>
                <li><b><u>Civil Engineering: </u></b>Deals with designing and building infrastructure, like roads, bridges, and dams.</li>
                <li><b><u>Mechanical Engineering: </u></b>Focuses on designing and building machines, from engines to robots..</li>
                <li><b><u>Electrical Engineering:  </u></b>Works with electricity and electronics to create things like power grids and computers.</li>
                <li><b><u>Chemical Engineering:   </u></b>Applies chemistry to design processes for things like creating new materials or refining oil.</li>
            
        </div>


        <br><br>
        <center><b><u><h4>TOP ENGINEERING COMPANIES</b></u></h4></center>


    <div class="center">
          <div class="row row-cols-1 row-cols-md-3">
            
            <div class="col mb-4">
              <div class="card">
                <img src="https://www.burson.com.au/wp-content/uploads/2023/08/Bosch-logo-600x600px.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b><center>Bosch</center></b></h5>
                  <p class="card-text">Bosch is a leading supplier of technology and services in the areas of Mobility Solutions, 
                    Industrial Technology, Consumer Goods, and Energy and Building Technology. Additionally, Bosch has in India 
                    the largest development center outside Germany, for end-to-end engineering and technology solutions.</p>
                </div>
              </div>
            </div>
            
            <div class="col mb-4">
              <div class="card">
                <img src="https://pbs.twimg.com/profile_images/671990218677878784/EbMw6gQw_400x400.png" width="70" height="250" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><center></b></u>Godrej</center></b></u></h5>
                  <p class="card-text">Godrej Group is an Indian multinational conglomerate headquartered in Mumbai, Maharashtra, which is 
                    managed and largely owned by the Godrej family. Godrej introduced the first lock with lever technology in India. <br><br><br><br><br> </p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://w7.pngwing.com/pngs/604/618/png-transparent-larsen-toubro-limited-mmh-architectural-engineering-business-l-t-hydrocarbon-engineering-business-blue-text-trademark.png" width="10" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">L&T</h5>
                  <p class="card-text">L&T provides comprehensive indigenous, design-to-realisation solutions including Delivery & 
                    Engineering Systems, associated Sensors & Auxiliaries, and Platforms (for deployment on land and at sea). 
                    We deliver multi-disciplinary equipment, fully integrated platforms, and autonomous systems...
                    <br><br><br><br><br></p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/GAIL.svg/1200px-GAIL.svg.png" width="100" height="150" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b><u>Gail </b></u></h5>
                  <p class="card-text">GAIL Limited is a central public sector undertaking. It has the following business segments: natural gas, liquified natural gas, liquid hydrocarbon, liquefied petroleum gas transmission, petrochemicals<br><br><br><br><br><br></p>
                </div>
              </div>
            </div>



            <div class="col mb-4">
                <div class="card">
                  <img src="https://www.iffcokisan.com/assets/partners/partner-1.jpg" width="100" height="150" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><b><u>IFFCO</b></u></h5>
                    <p class="card-text">Indian Farmers Fertiliser Cooperative Limited, also known as IFFCO, is a multi-state cooperative 
                      society engaged in the manufacture and marketing of fertiliser. it is a Mechanical Engineering company. IFFCO 
                      is headquartered in New Delhi, India.<br><br><br><br></p>
                  </div>
                </div>
              </div>
              
              

              <div class="col mb-4">
                <div class="card">
                  <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/ONGC_Logo.svg/640px-ONGC_Logo.svg.png" width="200" height="150" alt="..."></center>
                  <div class="card-body">
                    <h5 class="card-title"><b>ONGC</b></h5>
                    <p class="card-text">The Oil and Natural Gas Corporation Limited is an Mechanical Engineering company,Indian central public sector undertaking under the ownership of Ministry of Petroleum and Natural Gas, Government of India. The company is headquartered in Dehradoon. ONGC was founded on 14 August 1956 by the Government of India.</p>
                  </div>
                </div>
              </div>  

            </div>
        </div>
        </html>

