<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
 

  <title>Main</title>

    <body style="background-color:;">

</head>
<body>
   

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
      </head>
  
      <a class="navbar-brand jobportal-title" href="http://127.0.0.1:8000/">
        
        <font color="red"><b>
        <font face="Sans-serif">Online&nbsp</font color><font color="yellow">Job Portal</font color></b>
        </font>
        </a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <font color="white"><font size="4">
        <a href="http://127.0.0.1:8000/">Logout</a>
      </nav>

      <body>
     <font color="black">


<div class="container-fluid" style="background-color: lightblue; height:80px">
  <br>
<marquee behavior="scroll" direction="right"><b>Apply For Jobs Here</b></marquee>
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    Microsoft coperation ltd.
  </div>
  <div class="card-body bg-info text white">
    <h5 class="card-title">Java Devloper</h5>
    <p class="card-text">Salary: Negotiable <br> Work Location: Intimated Later</p>
    <a href="microabout.html" class="btn btn-danger">Apply Now</a>
  </div>
  <div class="card-footer text-muted">
    3 days ago
  </div>
</div>
<br>
<div class="card text-center">
  <div class="card-header"">
    Amazon Pvt Ltd.
  </div>
  <div class="card-body bg-warning text white">
    <h5 class="card-title">Python Devloper</h5>
    <p class="card-text">Salary: Negotiable <br> Work Location: Intimated Later</p>
    <a href="amazonabout.html" class="btn btn-danger">Apply Now</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    Tech. Mahindra
  </div>
  <div class="card-body bg-info text white">
    <h5 class="card-title">Full Stack Devloper</h5>
    <p class="card-text">Salary: Negotiable <br> Work Location: Intimated Later</p>
    <a href="mahindratechabout.html" class="btn btn-danger">Apply Now</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
      </body>







</html>