<html>
    <head>
        <title>Software and IT</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


        <style>
          .center {
            margin: auto;
            width: 60%;
            
            padding: 10px;
          }
          </style>

      </head>


    
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Software and IT</li>
        </ol>
      </nav>

    <body>
        <div class="alert alert-danger" role="alert">
            
            The world of IT (Information Technology) is vast, but a big part of it revolves around software and the jobs related to creating, maintaining, and using it. Here's a breakdown:
            <ul><br><b><u>
                Software Jobs</b></u>
            </ul>
            <ul>
                These jobs deal directly with the design, development, and deployment of software applications.  Here are some of the common software job titles:</ul>
                <ul>
                    <li>Software Developer/Engineer: They write the code that makes software programs function. There are many specializations within software development, like web developers, mobile developers, and backend developers.</li>
                    <li>Software Tester: They ensure software applications work as expected and identify any bugs or glitches before it reaches the end user.</li>
                    <li>System Analyst: They analyze an organization's needs and design software solutions to meet those needs.</li>
                        <li>Database Administrator (DBA): They manage and maintain databases, which store large amounts of data for software applications.</li>
                        
                        <br>

                        <ul><b><u>IT Jobs</b></u>
                            <br>
                            IT jobs encompass a wider range of roles that support the use of computers and technology within a company. Here are some examples:</ul>
                            <br><ul>
                            <li><b><u>Network Administrator: </b></u>They set up, manage, and maintain computer networks that allow devices to communicate with each other.</u></b></li>
                            <li><b><u>Cybersecurity Specialist:</b></u> They protect computer systems and networks from cyberattacks and data breaches.</li>
                            <li><b><u>IT Support Specialist:</b></u> They provide technical help to users with computer software and hardware issues.</b></u>
                                <li><b><u>Data Analyst:</b></u> They collect, analyze, and interpret data to help businesses make informed decisions.</li>
        <br><br>
<ul><b>The Overlap</b></ul>

There's a significant overlap between software and IT jobs. Many IT professionals have strong software skills, and some software developers may also have IT support experience.

<br><br>
<ul><b>Choosing Your Path</b></ul>

If you're interested in IT, consider what interests you most. Do you enjoy solving problems and creating new software? Then a software development path might be ideal.  Are you more drawn to the technical aspects of keeping computer systems running smoothly? Then an IT support role could be a good fit.
        </div>


        <br><br>
        <center><b><u><h4>TOP IT(Information Technology) COMPANIES</b></u></h4></center>


    <div class="center">
          <div class="row row-cols-1 row-cols-md-3">
            
            <div class="col mb-4">
              <div class="card">
                <img src="https://www.webfx.com/wp-content/uploads/2022/08/github-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b><center>Github</center></b></h5>
                  <p class="card-text"> GitHub, a Microsoft subsidiary, is a provider of Internet hosting for software development and version control using the open-source Git platform. Founded in 2008 by a group of software developers and entrepreneurs, GitHub enables millions of developers and companies to build, ship, and maintain their software on the largest and most advanced development platform in the world. The company supports more than 83 million developers and four million organizations, including 90% of the Fortune 500 list.<br><br><br></p>
                </div>
              </div>
            </div>
            

            
            
            <div class="col mb-4">
              <div class="card">
                <img src="https://purepng.com/public/uploads/large/amazon-logo-s3f.png" width="70" height="250" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><center></b></u>Amazon</center></b></u></h5>
                  <p class="card-text">One of the biggest names in the world, Amazon is a favorite and popular recruiter in the country. With almost 800,000 employees, there are various roles to choose from the software developers, testers, virtual assistants, customer support, logistics, and sales.
 
                    For the Indian subcontinent, Amazon provides a separate Virtual Customer Service (VCS) making anyone with basic communication skills apply and work remotely from India.</p>
                </div>
              </div>
            </div>
          
          
            <div class="col mb-4">
              <div class="card">
                <img src="https://static.vecteezy.com/system/resources/previews/022/100/816/non_2x/microsoft-logo-transparent-free-png.png"  width="10" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                  <br><br>
                  <h5 class="card-title">Microsoft Corporation</h5>
                  <p class="card-text">An American multinational technology corporation that develops, manufactures, licenses,
                    supports, and sells computer software, consumer electronics, personal computers, and related services.
                    <br><br><br><br><br><br><br><br><br></p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://www.globaldata.com/Uploads/Company/1439305/logo.jpg" width="50" height="180" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b><u>Apple Inc. </b></u></h5>
                  <p class="card-text">This American multinational technology company designs, develops, and sells consumer electronics, computer software, and online services.<br><br><br><br><br><br><br><br><br><br><br></p>
                </div>
              </div>
            </div>



            <div class="col mb-4">
                <div class="card">
                  <img src="https://media.licdn.com/dms/image/C560BAQHOWk8aT2QxNQ/company-logo_200_200/0/1631347525519?e=2147483647&v=beta&t=WQBAQ6tNNmbmafCx8t5eNEJIo1xVxjKk0h-Ylq1pYDc" width="70" height="150" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><b><u>Alphabet Inc. (Google)</b></u></h5>
                    <p class="card-text">An American multinational technology conglomerate that specializes in Internet-related 
                      services and products, which include online advertising technologies, a search engine, cloud computing, 
                      software, and hardware.<br><br><br><br><br><br><br><br><br></p>
                  </div>
                </div>
              </div>
              
              

              <div class="col mb-4">
                <div class="card">
                  <center><img src="https://www.siegelgale.com/app/uploads/2021/10/SGCOM_Blog_211018.png" width="200" height="150" alt="..."></center>
                  <div class="card-body">
                    <h5 class="card-title"><b>Tata TCS</b></h5>
                    <p class="card-text">Tata Consultancy Services is an IT services, consulting, and business solutions organization that has been partnering 
                      with many of the world's largest businesses in their transformation journeys for over 50 years.
                    <br><br><br><br><br><br><br><br><br><br></p>
                  </div>
                </div>
              </div>  



          
          
          
            </div>
        </div>

